.menu-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-panel .menu {
    display: grid;
    grid-template-rows: 1fr auto;

    width: 100%;
    height: 100%;
}

.menu-panel .menu .options-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.menu-panel .menu .options-wrapper img {
    width: 30%;
}

.menu-panel .menu .options-wrapper .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 30%;
}

.menu-panel .menu .options-wrapper .options button {
    display: flex;
    justify-content: center;
    width: 100%;

    padding: 1rem 2rem calc(1rem + 4px);
    background-color: white;
    box-shadow: inset 0px -4px color-mix(in srgb, white 60%, black);
    font-weight: bold;
    border: none;

    transition: 100ms ease all;
}

.menu-panel .menu .options-wrapper .options button:hover {
    background-color: dodgerblue;
    color: white;
    box-shadow: inset 0 -4px color-mix(in srgb, dodgerblue 60%, black);
}

.menu-panel .menu .options-wrapper .options button:active {
    background-color: dodgerblue;
    color: white;
    box-shadow: inset -2px -2px white, inset 2px 2px white;
}

.menu-panel .menu .additional-info {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);

    padding: .5rem 1rem;
    user-select: none;
}
